@import url(`https://fonts.googleapis.com/css2?family=Roboto:wgh@400;700&display=swap`);

* {
    box-sizing: border-box;
}

body {

    background-color: #efedd6;
    background-color: #f6f7fb;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    margin: 10px;
}

.box {
    background-color: steelblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(250%);
    transition:  2s ease;
}

.box:nth-of-type(even) {
    transform: translateX(-250%);
}

.box.show{
    transform: translateX(0);
}


.box h2 {

    font-size: 45px;
}



